<a href="https://colab.research.google.com/github/gluoneros/greenPredEnergy/blob/main/ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Proyecto Final - TalentoTech**
### **Predicci贸n de viabilidad de proyectos de energia renovable en Colombia**

> El proyecto fue realizado en el marco del curso de AI-ML TalentoTech

## **Descripcion** 
_Este proyecto utiliza Python y Jupyter Notebook, pandas, numpy para el desarrollo del modelo de predicci贸n de proyectos de energia renobable en los municipios de Colombia._

## **Tecnolog铆as** 
_Se utilizan las siguientes tecnologias para el desarrollo del proyecto:_

* [ Python ](https://www.python.org/) -- <img height="20" src="https://cdn.simpleicons.org/python?viewbox=auto" />
* [Jupyter](https://jupyter.org/) -- <img height="20" src="https://cdn.simpleicons.org/jupyter?viewbox=auto" />
* [Pandas](https://pandas.pydata.org/) -- <img height="20" src="https://cdn.simpleicons.org/pandas?viewbox=auto" />
* [Numpy](https://numpy.org/) -- <img height="20" src="https://cdn.simpleicons.org/numpy?viewbox=auto" />
* [Scikit-learn](https://scikit-learn.org/stable/) -- <img height="20" src="https://cdn.simpleicons.org/scikit_learn?viewbox=auto" />
* [github](https://github.com) --<img height="20" src="https://cdn.simpleicons.org/github?viewbox=auto" />

## **Autores** 

* **Monica Garcia**
* **Juan Pablo Cardenas**
* **Juan Pablo Quevedo**
* **Hildebrando Vargas**
* **Jonathan Gutierrez**
* **Mary Luz Ceballosl**

## **Tareas**  锔

 1. Importar librer铆as necesarias
 2. Cargar los Datos
 3. Explore y visualice los datos para obtener informaci贸n.
 4. Prepare los datos para los algoritmos de machine learning.
 5. Generaci贸n de Estad铆sticas Descriptivas
 6. Visualizaci贸n de datos utilizando gr谩ficos de barras, histogramas y gr谩ficos de dispersi贸n
 7. Identificaci贸n y manejo de valores at铆picos y tendencias en los datos
 8. Uso de t茅cnicas como imputaci贸n de la media, mediana y regresi贸n para completar datos faltantes.
 9. Eliminaci贸n de registros con datos faltantes o imputaci贸n de valores categ贸ricos.
 10. C谩lculo de la correlaci贸n entre variables.
 11. Aplicaci贸n de t茅cnicas de reducci贸n de dimensionalidad para reducir la dimensionalidad de los datos.
 12. Aplicaci贸n de PCA para reducir la dimensionalidad de datasets
 13. Aplicaci贸n de t茅cnicas de regresi贸n para predecir valores de variables.
 14. Ajusta tu modelo.
 15. Presente su soluci贸n.
 16. Inicie, supervise y mantenga su sistema.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

In [ ]:
# importaciones
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
# check modelos
from sklearn.metrics import r2_score, accuracy_score, confusion_matrix, classification_report
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.model_selection import train_test_split
# check escaladores
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler, Normalizer

# clientes
!pip install sodapy
from sodapy import Socrata
client = Socrata("www.datos.gov.co", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

## DataSet 1 | Estado de la prestaci贸n del servicio de energ铆a en Zonas No Interconectadas

#### Predecir basados en 	'energia_activa',	'energia_reactiva', 'potencia_maxima' 'prom_diario_horas' [Ver](https://www.datos.gov.co/Minas-y-Energ-a/Estado-de-la-prestaci-n-del-servicio-de-energ-a-en/3ebi-d83g/about_data)
##### cual ser铆a el d铆a de demanda maxima para que una localidad en una zona no interconectada limitara y optimizara su uso de energ铆a en funcion del posible ahorro de esta.Y los habitantes en sus viviendas emplearan con anticipacion dichas disminusiones en el consumo enrgetico gracias al d铆a de demanda maxima predicho.

In [ ]:
d_zni_ = client.get("3ebi-d83g", limit=5000)
d_zni = pd.DataFrame.from_records(d_zni_)
d_zni

,id_dpto,dpto,id_mpio,mpio,id_localidad,localidad,anio,mes,energia_activa,energia_reactiva,potencia_maxima,dia_demanda_maxima,fecha_demanda_maxima,prom_diario_horas
0,91,AMAZONAS,91540,PUERTO NARIO,91540000,PUERTO NARIO (PUERTO NARIO - AMAZONAS),2024,05,132215,41907,286.4,Jueves,2024-05-23T18:00:00.000,24
1,91,AMAZONAS,91798,TARAPACA (ANM),91798000,TARAPACA (TARAPACA (ANM) - AMAZONAS),2024,05,28132,12662,102.6,Viernes,2024-05-03T18:30:00.000,10.16
2,5,ANTIOQUIA,5873,VIGA DEL FUERTE,5873010,LA PLAYA MURRI (VIGA DEL FUERTE - ANTIOQUIA),2024,05,2686,1110,27.46,Martes,2024-05-21T19:45:00.000,4.19
3,88,ARCHIPILAGO DE SAN ANDRS y PROVIDENCIA,88564,PROVIDENCIA,88564000,PROVIDENCIA (PROVIDENCIA - ARCHIPILAGO DE SAN...,2024,05,1331271,284638,2190.28,Viernes,2024-05-10T15:00:00.000,23.59
4,13,BOLVAR,13001,CARTAGENA DE INDIAS,13001007,ISLA FUERTE (CARTAGENA DE INDIAS - BOLVAR),2024,05,64368,30561,247.59,S谩bado,2024-05-18T22:00:00.000,10.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4268,76,VALLE DEL CAUCA,76109,BUENAVENTURA,76109032,SAN FRANCISCO NAYA (BUENAVENTURA - VALLE DEL C...,2024,08,7610,3285,31.23,Viernes,2024-08-02T19:15:00.000,10.05
4269,97,VAUPS,97161,CARUR,97161000,CARUR (CARUR - VAUPS),2024,08,31775,7881,87.82,Jueves,2024-08-29T18:45:00.000,16.39
4270,97,VAUPS,97001,MIT,97001000,MIT (MIT - VAUPS),2024,08,1590470,387197,3236.71,Mi茅rcoles,2024-08-21T13:00:00.000,23.56
4271,97,VAUPS,97666,TARAIRA,97666000,TARAIRA (TARAIRA - VAUPS),2024,08,39226,10719,136.84,Martes,2024-08-20T12:00:00.000,13.01
4272,99,VICHADA,99001,PUERTO CARREO,99001000,PUERTO CARREO (PUERTO CARREO - VICHADA),2024,08,2506944,732978,5014.24,Martes,2024-08-20T14:00:00.000,24

## DataSet2 | Energ铆a renovable en Colombia
##### Utilizando 'Empleos_estimado',	'Usuarios', 'inversion,	'Capacidad_instalada, 'Energ铆a' predecir cual ser铆a un incremento significativo de desempe帽o de un proyecto Eolico y/o Solar a futuro para continuar invertiendo en el. [Ver](https://www.datos.gov.co/Minas-y-Energ-a/Meta-FNCER-Incorporar-en-la-matriz-energ-tica-nuev/vy9n-w6hc/about_data)

In [ ]:
d_proj_ = client.get("vy9n-w6hc", limit=3000)
d_proj = pd.DataFrame.from_records(d_proj_)
d_proj

,proyecto,tipo,capacidad,departamento,municipio,codigo_departamento,codigo_municipio,fecha_estimada_fpo,energia_kwh_d_a,usuarios,inversi_n_estimada_cop,empleos_estimados,emisiones_co2_ton_a_o
0,JEPIRACHI,E贸lico,18.42,LA GUAJIRA,URIBIA,44,44847,2004-04-27T00:00:00.000,176832,30665,79206000000,51,51635
1,AUTOG CELSIA SOLAR YUMBO,Solar,9.8,VALLE DEL CAUCA,YUMBO,76,76892,2017-03-09T00:00:00.000,47040,8157,42140000000,68,13736
2,CELSIA SOLAR BOLIVAR,Solar,8.06,BOLVAR,SANTA ROSA,13,13683,2019-02-01T00:00:00.000,38688,6709,34658000000,56,11297
3,EL PASO SOLAR (ENEL GREEN POWER),Solar,67.0,CESAR,EL PASO,20,20250,2019-04-05T00:00:00.000,321600,55769,288100000000,466,93907
4,SOLAR CASTILLA ECP,Solar,20.0,META,CASTILLA LA NUEVA,50,50150,2019-10-10T00:00:00.000,96000,16647,86000000000,139,28032
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,BUGA 1 PARTE 2,Solar,5.94,VALLE DEL CAUCA,"""""",76,76,2022-12-31T00:00:00.000,28512,4944,22275000000,41,8326
154,BUGA 1 PARTE 1,Solar,3.96,VALLE DEL CAUCA,"""""",76,76,2022-07-31T00:00:00.000,19008,3296,14850000000,28,5550
155,REFINERA GRB,Solar,21.0,SANTANDER,BARRANCABERMEJA,68,68081,2023-12-31T00:00:00.000,100800,17480,78750000000,146,29434
156,EMSA GD Y AG (34 Proyectos),Solar,1.9,META,VILLAVICENCIO,50,50001,2022-05-31T00:00:00.000,9120,1582,8170000000,13,2663
157,ENELAR GD Y AG (4 Proyectos),Solar,0.11,ARAUCA,ARAUCA,81,81001,2022-05-31T00:00:00.000,528,92,473000000,1,154

## DataSet 3 | Energ铆a Per capita en Colombia

In [ ]:
d_epc = pd.read_csv('https://raw.githubusercontent.com/owid/energy-data/refs/heads/master/owid-energy-data.csv')
d_epc

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21807,Zimbabwe,2019,ZWE,15354606.0,2.514642e+10,NaN,NaN,NaN,NaN,12.374,...,0.353,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21808,Zimbabwe,2020,ZWE,15669663.0,2.317871e+10,NaN,NaN,NaN,NaN,6.382,...,0.298,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21809,Zimbabwe,2021,ZWE,15993525.0,2.514009e+10,NaN,NaN,NaN,NaN,0.000,...,0.236,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21810,Zimbabwe,2022,ZWE,16320539.0,2.590159e+10,NaN,NaN,NaN,NaN,6.127,...,0.336,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21811,Zimbabwe,2023,ZWE,16665407.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## DataSet 4 | No d铆as Lluvia

In [ ]:
d_noll = pd.read_csv('https://raw.githubusercontent.com/gluoneros/talentoTech/refs/heads/main/noDiasLLuvia.csv')
d_noll

,CODIGO,CATEGORIA,ESTACIN,MUNICIPIO,DEPARTAMENTO,AO,ALTITUD (m),LONGITUD,LATITUD,ENE,...,JUN,JUL,AGO,SEP,OCT,NOV,DIC,ANUAL,N煤mero de meses,% de cumplimiento
0,47067010,LM,El Encanto,El Encanto,Amazonas,7,120,"-73,20","-1,77","14,3",...,"18,8","17,7","13,4","13,3","13,9","14,8","16,4","191,7",332,"92,2%"
1,47060010,PM,El Encato,El Encanto,Amazonas,7,120,"-73,21","-1,75","14,3",...,"18,6","17,8","13,1","13,3","13,8","14,9","16,3","191,1",343,"95,3%"
2,44187030,LM,Bacuri,La Pedrera,Amazonas,4,101,"-69,47","-1,23","19,0",...,"20,3","19,6","16,5","14,5","15,1","15,0","18,8","216,0",343,"95,3%"
3,44187020,PM,La Pedrera,La Pedrera,Amazonas,4,102,"-69,59","-1,31","13,8",...,"14,7","13,5","12,4","11,2","12,0","12,1","13,3","161,8",334,"92,8%"
4,44157040,LM,Manacaro,La Pedrera,Amazonas,4,109,"-70,18","-1,53","18,3",...,"19,1","18,0","14,6","13,2","14,9","14,8","17,1","204,0",351,"97,5%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,38015030,SP,Aeropuerto Puerto Carre帽o,Puerto Carre帽o,Vichada,3,57,"-67,49","6,18","1,0",...,"21,2","21,9","19,7","14,3","12,3","7,9","2,9","133,2",359,"99,7%"
1441,38017040,LM,Casuarito,Puerto Carre帽o,Vichada,3,65,"-67,64","5,68","2,1",...,"19,3","19,6","16,1","12,7","10,3","7,7","4,3","130,7",343,"95,3%"
1442,35260010,PM,Bonanza,Santa Rosal铆a,Vichada,3,112,"-70,85","5,14","1,1",...,"14,4","15,1","13,2","10,0","8,9","5,9","2,7","98,7",324,"90,0%"
1443,35260030,PM,Hato Burrunay,Santa Rosal铆a,Vichada,3,106,"-70,68","5,35","1,3",...,"15,3","17,1","14,0","12,1","10,8","7,7","3,6","113,4",349,"96,9%"
1444,35267030,LM,Santa Maria,Santa Rosal铆a,Vichada,3,108,"-70,71","5,27","1,2",...,"15,6","16,0","13,2","12,4","10,3","6,8","2,8","106,8",328,"91,1%"

## DataSet 5 | Velocidad Viento

In [ ]:
d_vnt_ = client.get("sgfv-3yp8", limit=5000)
d_vnt = pd.DataFrame.from_records(d_vnt_)
d_vnt

,codigoestacion,codigosensor,fechaobservacion,valorobservado,nombreestacion,departamento,municipio,zonahidrografica,latitud,longitud,descripcionsensor,unidadmedida
0,0026155220,0103,2008-09-27T05:10:00.000,2.4,VILLAMARIA - AUT,CALDAS,VILLAMARIA,CAUCA,5.048666667,-75.51388889,Velocidad Viento (10 min),m/s
1,0024035430,0103,2012-05-16T06:20:00.000,0.4,TUNGUAVITA - AUT,BOYAC,PAIPA,SOGAMOSO,5.745916667,-73.11636111,Velocidad Viento (10 min),m/s
2,0026135290,0103,2007-03-09T16:50:00.000,0.9,MARSELLA - AUT,RISARALDA,MARSELLA,CAUCA,4.929583333,-75.73838889,Velocidad Viento (10 min),m/s
3,0027015320,0103,2007-11-17T06:50:00.000,1.7,ARAGON - AUT,ANTIOQUIA,SANTA ROSA DE OSOS,NECH,6.781083333,-75.560888889,Velocidad Viento (10 min),m/s
4,0029045000,0103,2016-02-28T10:40:00.000,1.8,SABANALARGA TX GPRS,ATLNTICO,SABANALARGA,BAJO MAGDALENA,10.637,-74.919,Velocidad Viento (10 min),m/s
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,0029045000,0103,2014-07-25T17:30:00.000,5.5,SABANALARGA TX GPRS,ATLNTICO,SABANALARGA,BAJO MAGDALENA,10.637,-74.919,Velocidad Viento (10 min),m/s
4996,0021215150,0103,2010-06-07T01:00:00.000,9.6,NEVADO DEL TOLIMA - AUT,TOLIMA,ANZOTEGUI,ALTO MAGDALENA,4.670777778,-75.32777778,Velocidad Viento (10 min),m/s
4997,0023065190,0103,2015-06-14T00:20:00.000,2.3,QUEBRADA NEGRA - AUT,CUNDINAMARCA,QUEBRADANEGRA,MEDIO MAGDALENA,5.137611111,-74.48125,Velocidad Viento (10 min),m/s
4998,0025025380,0103,2015-09-13T18:40:00.000,1,SAN BENITO ABAD - LA MOJANA TX GPRS/GOES,SUCRE,SAN BENITO ABAD,BAJO MAGDALENA- CAUCA -SAN JORGE,9.164,-75.045,Velocidad Viento (10 min),m/s
4999,0026105250,0103,2015-01-21T22:30:00.000,1.6,ZARAGOZA - AUT,VALLE DEL CAUCA,CARTAGO,CAUCA,4.689777778,-75.92519444,Velocidad Viento (10 min),m/s

## DataSet 6 | Centros poblados de Colombia

In [ ]:
# d_cpc = pd.read_csv("https://raw.githubusercontent.com/gluoneros/talentoTech/refs/heads/main/DIVIPOLA_CentrosPoblados.csv", encoding="utf-8", delimiter=";",skiprows=2, header=None).iloc[:, 2:]
d_cpc = pd.read_csv("https://raw.githubusercontent.com/gluoneros/talentoTech/refs/heads/main/DIVIPOLA_CentrosPoblados.csv", encoding="utf-8", delimiter=";").iloc[:, 2:]
d_cpc

,C贸digo.1,Nombre.1,C贸digo.2,Nombre.2,Tipo,Longitud,Latitud
0,5001,MEDELLN,5001000,"MEDELLN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",CM,"-75,578661","6,250063"
1,5001,MEDELLN,5001001,PALMITAS,CP,"-75,690039","6,343329"
2,5001,MEDELLN,5001004,SANTA ELENA,CP,"-75,501293","6,210599"
3,5001,MEDELLN,5001009,ALTAVISTA,CP,"-75,644721","6,220472"
4,5001,MEDELLN,5001010,AGUAS FRAS,CP,"-75,635261","6,232665"
...,...,...,...,...,...,...,...
8156,99773,CUMARIBO,99773028,GUACO BAJO,CP,NaN,NaN
8157,99773,CUMARIBO,99773029,GUACO ALTO,CP,NaN,NaN
8158,99773,CUMARIBO,99773030,CAO BOCN,CP,NaN,NaN
8159,99773,CUMARIBO,99773031,CAMUNIANAE,CP,NaN,NaN
8160,99773,CUMARIBO,99773032,GUERIMA,CP,NaN,NaN