<a href="https://colab.research.google.com/github/gluoneros/greenPredEnergy/blob/main/ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Proyecto Final - TalentoTech**
### **Predicci贸n de viabilidad de proyectos de energia renovable en Colombia**

> El proyecto fue realizado en el marco del curso de AI-ML TalentoTech

## **Descripcion** 
_Este proyecto utiliza Python y Jupyter Notebook, pandas, numpy para el desarrollo del modelo de predicci贸n de proyectos de energia renobable en los municipios de Colombia._

## **Tecnolog铆as** 
_Se utilizan las siguientes tecnologias para el desarrollo del proyecto:_

* [ Python ](https://www.python.org/) -- <img height="20" src="https://cdn.simpleicons.org/python?viewbox=auto" />
* [Jupyter](https://jupyter.org/) -- <img height="20" src="https://cdn.simpleicons.org/jupyter?viewbox=auto" />
* [Pandas](https://pandas.pydata.org/) -- <img height="20" src="https://cdn.simpleicons.org/pandas?viewbox=auto" />
* [Numpy](https://numpy.org/) -- <img height="20" src="https://cdn.simpleicons.org/numpy?viewbox=auto" />
* [Scikit-learn](https://scikit-learn.org/stable/) -- <img height="20" src="https://cdn.simpleicons.org/scikitlearn?viewbox=auto" />
* [github](https://github.com) --<img height="20" src="https://cdn.simpleicons.org/github?viewbox=auto" />

## **Autores** 

* **Monica Garcia**
* **Juan Pablo Cardenas**
* **Juan Pablo Quevedo**
* **Hildebrando Vargas**
* **Jonathan Gutierrez**
* **Mary Luz Ceballosl**

## **Tareas**  锔

 - [Importar librer铆as necesarias](#Importar librer铆as necesarias)
 2. Cargar los Datos
 3. Explore y visualice los datos para obtener informaci贸n.
 4. Prepare los datos para los algoritmos de machine learning.
 5. Generaci贸n de Estad铆sticas Descriptivas
 6. Visualizaci贸n de datos utilizando gr谩ficos de barras, histogramas y gr谩ficos de dispersi贸n
 7. Identificaci贸n y manejo de valores at铆picos y tendencias en los datos
 8. Uso de t茅cnicas como imputaci贸n de la media, mediana y regresi贸n para completar datos faltantes.
 9. Eliminaci贸n de registros con datos faltantes o imputaci贸n de valores categ贸ricos.
 10. C谩lculo de la correlaci贸n entre variables.
 11. Aplicaci贸n de t茅cnicas de reducci贸n de dimensionalidad para reducir la dimensionalidad de los datos.
 12. Aplicaci贸n de PCA para reducir la dimensionalidad de datasets
 13. Aplicaci贸n de t茅cnicas de regresi贸n para predecir valores de variables.
 14. Ajusta tu modelo.
 15. Presente su soluci贸n.
 16. Inicie, supervise y mantenga su sistema.

In [22]:
# from google.colab import drive
# drive.mount('/content/drive')

# Importar librer铆as necesarias

In [1]:
# importaciones
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
# check modelos
from sklearn.metrics import r2_score, accuracy_score, confusion_matrix, classification_report
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.model_selection import train_test_split
# check escaladores
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler, Normalizer
# normalizaci贸n
import unicodedata
# clientes
# !pip install sodapy
from sodapy import Socrata
client = Socrata("www.datos.gov.co", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

### M茅todos

In [2]:
def removeAccents(_value):
  value = _value.upper().replace("", "%")
  value = unicodedata.normalize("NFKD", value).encode("ascii","ignore").decode("ascii").replace("%", "")
  return value

## DataSet 1 | Estado de la prestaci贸n del servicio de energ铆a en Zonas No Interconectadas

#### Predecir basados en 	'energia_activa',	'energia_reactiva', 'potencia_maxima' 'prom_diario_horas' [Ver](https://www.datos.gov.co/Minas-y-Energ-a/Estado-de-la-prestaci-n-del-servicio-de-energ-a-en/3ebi-d83g/about_data)
##### cual ser铆a el d铆a de demanda maxima para que una localidad en una zona no interconectada limitara y optimizara su uso de energ铆a en funcion del posible ahorro de esta.Y los habitantes en sus viviendas emplearan con anticipacion dichas disminusiones en el consumo energ茅tico gracias al d铆a de demanda maxima predicho.

In [3]:
d_zni_ = client.get("3ebi-d83g", limit=5000)
d_zni = pd.DataFrame.from_records(d_zni_)
d_zni = d_zni.rename(columns={"mpio": "municipio"})
d_zni

,id_dpto,dpto,id_mpio,municipio,id_localidad,localidad,anio,mes,energia_activa,energia_reactiva,potencia_maxima,dia_demanda_maxima,fecha_demanda_maxima,prom_diario_horas
0,91,AMAZONAS,91540,PUERTO NARIO,91540000,PUERTO NARIO (PUERTO NARIO - AMAZONAS),2024,05,132215,41907,286.4,Jueves,2024-05-23T18:00:00.000,24
1,91,AMAZONAS,91798,TARAPACA (ANM),91798000,TARAPACA (TARAPACA (ANM) - AMAZONAS),2024,05,28132,12662,102.6,Viernes,2024-05-03T18:30:00.000,10.16
2,5,ANTIOQUIA,5873,VIGA DEL FUERTE,5873010,LA PLAYA MURRI (VIGA DEL FUERTE - ANTIOQUIA),2024,05,2686,1110,27.46,Martes,2024-05-21T19:45:00.000,4.19
3,88,ARCHIPILAGO DE SAN ANDRS y PROVIDENCIA,88564,PROVIDENCIA,88564000,PROVIDENCIA (PROVIDENCIA - ARCHIPILAGO DE SAN...,2024,05,1331271,284638,2190.28,Viernes,2024-05-10T15:00:00.000,23.59
4,13,BOLVAR,13001,CARTAGENA DE INDIAS,13001007,ISLA FUERTE (CARTAGENA DE INDIAS - BOLVAR),2024,05,64368,30561,247.59,S谩bado,2024-05-18T22:00:00.000,10.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4268,76,VALLE DEL CAUCA,76109,BUENAVENTURA,76109032,SAN FRANCISCO NAYA (BUENAVENTURA - VALLE DEL C...,2024,08,7610,3285,31.23,Viernes,2024-08-02T19:15:00.000,10.05
4269,97,VAUPS,97161,CARUR,97161000,CARUR (CARUR - VAUPS),2024,08,31775,7881,87.82,Jueves,2024-08-29T18:45:00.000,16.39
4270,97,VAUPS,97001,MIT,97001000,MIT (MIT - VAUPS),2024,08,1590470,387197,3236.71,Mi茅rcoles,2024-08-21T13:00:00.000,23.56
4271,97,VAUPS,97666,TARAIRA,97666000,TARAIRA (TARAIRA - VAUPS),2024,08,39226,10719,136.84,Martes,2024-08-20T12:00:00.000,13.01
4272,99,VICHADA,99001,PUERTO CARREO,99001000,PUERTO CARREO (PUERTO CARREO - VICHADA),2024,08,2506944,732978,5014.24,Martes,2024-08-20T14:00:00.000,24

In [4]:
# d_zni.describe()
d_zni_min = d_zni[['municipio', 'anio', 'mes', 'energia_activa', 'energia_reactiva', 'potencia_maxima', 'prom_diario_horas']]
d_zni_min['energia_activa'] = round(d_zni_min[['energia_activa']].replace('NaN', pd.NA).fillna(0).astype(int))
d_zni_min['energia_reactiva'] = round(d_zni_min[['energia_reactiva']].replace('NaN', pd.NA).fillna(0).astype(float))
d_zni_min["municipio"] = d_zni_min["municipio"].apply(removeAccents)
d_zni_min = d_zni_min.groupby(["municipio"])[["energia_activa", "energia_reactiva"]].median()
d_zni_min

/tmp/ipykernel_4792/2366700462.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_zni_min['energia_activa'] = round(d_zni_min[['energia_activa']].replace('NaN', pd.NA).fillna(0).astype(int))
/tmp/ipykernel_4792/2366700462.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_zni_min['energia_reactiva'] = round(d_zni_min[['energia_reactiva']].replace('NaN', pd.NA).fillna(0).astype(float))
/tmp/ipykernel_4792/2366700462.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_zni_min["municipio"] = d_zni_min["municipio"].apply(removeAccents)

                          energia_activa  energia_reactiva
municipio
ACANDI                          388026.0          142002.0
ALTO BAUDO                       52554.0           18043.0
ALTO BAUDO (PIE DE PATO)         46655.0           14585.0
BAHIA SOLANO                    187949.0           68362.0
BAHIA SOLANO (MUTIS)            150660.0           64680.0
...                                  ...               ...
TRINIDAD                         12834.5            7221.5
TUMACO                           14829.5            5409.5
UNGUIA                           20480.0            8206.0
URIBIA                           41010.0           11383.0
VIGIA DEL FUERTE                  5286.0            1303.0

[64 rows x 2 columns]

## DataSet2 | Energ铆a renovable en Colombia
##### Utilizando 'Empleos_estimado',	'Usuarios', 'inversion,	'Capacidad_instalada, 'Energ铆a' predecir cual ser铆a un incremento significativo de desempe帽o de un proyecto Eolico y/o Solar a futuro para continuar invertiendo en el. [Ver](https://www.datos.gov.co/Minas-y-Energ-a/Meta-FNCER-Incorporar-en-la-matriz-energ-tica-nuev/vy9n-w6hc/about_data)

In [5]:
d_proj_ = client.get("vy9n-w6hc", limit=3000)
d_proj = pd.DataFrame.from_records(d_proj_)
d_proj = d_proj.rename(columns={"municipio": "municipio"})
d_proj

,proyecto,tipo,capacidad,departamento,municipio,codigo_departamento,codigo_municipio,fecha_estimada_fpo,energia_kwh_d_a,usuarios,inversi_n_estimada_cop,empleos_estimados,emisiones_co2_ton_a_o
0,JEPIRACHI,E贸lico,18.42,LA GUAJIRA,URIBIA,44,44847,2004-04-27T00:00:00.000,176832,30665,79206000000,51,51635
1,AUTOG CELSIA SOLAR YUMBO,Solar,9.8,VALLE DEL CAUCA,YUMBO,76,76892,2017-03-09T00:00:00.000,47040,8157,42140000000,68,13736
2,CELSIA SOLAR BOLIVAR,Solar,8.06,BOLVAR,SANTA ROSA,13,13683,2019-02-01T00:00:00.000,38688,6709,34658000000,56,11297
3,EL PASO SOLAR (ENEL GREEN POWER),Solar,67.0,CESAR,EL PASO,20,20250,2019-04-05T00:00:00.000,321600,55769,288100000000,466,93907
4,SOLAR CASTILLA ECP,Solar,20.0,META,CASTILLA LA NUEVA,50,50150,2019-10-10T00:00:00.000,96000,16647,86000000000,139,28032
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,BUGA 1 PARTE 2,Solar,5.94,VALLE DEL CAUCA,"""""",76,76,2022-12-31T00:00:00.000,28512,4944,22275000000,41,8326
154,BUGA 1 PARTE 1,Solar,3.96,VALLE DEL CAUCA,"""""",76,76,2022-07-31T00:00:00.000,19008,3296,14850000000,28,5550
155,REFINERA GRB,Solar,21.0,SANTANDER,BARRANCABERMEJA,68,68081,2023-12-31T00:00:00.000,100800,17480,78750000000,146,29434
156,EMSA GD Y AG (34 Proyectos),Solar,1.9,META,VILLAVICENCIO,50,50001,2022-05-31T00:00:00.000,9120,1582,8170000000,13,2663
157,ENELAR GD Y AG (4 Proyectos),Solar,0.11,ARAUCA,ARAUCA,81,81001,2022-05-31T00:00:00.000,528,92,473000000,1,154

In [6]:
d_proj.describe()

,proyecto,tipo,capacidad,departamento,municipio,codigo_departamento,codigo_municipio,fecha_estimada_fpo,energia_kwh_d_a,usuarios,inversi_n_estimada_cop,empleos_estimados,emisiones_co2_ton_a_o
count,158,158,158,158,158,158,158,158,158,158,158,158,158
unique,156,2,104,26,79,26,81,70,106,106,112,75,106
top,"PARQUE SOLAR LA VICTORIA 1 Y 2 (2X19,9) PARTE 2",Solar,9.9,VALLE DEL CAUCA,URIBIA,76,44847,2022-05-31T00:00:00.000,47520,8240,37125000000,69,13876
freq,2,145,23,17,8,17,8,15,22,22,14,22,22

## DataSet 3 | Energ铆a Per capita en Colombia

In [7]:
d_epc = pd.read_csv('https://raw.githubusercontent.com/owid/energy-data/refs/heads/master/owid-energy-data.csv')
d_epc

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21807,Zimbabwe,2019,ZWE,15354606.0,2.514642e+10,NaN,NaN,NaN,NaN,12.374,...,0.353,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21808,Zimbabwe,2020,ZWE,15669663.0,2.317871e+10,NaN,NaN,NaN,NaN,6.382,...,0.298,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21809,Zimbabwe,2021,ZWE,15993525.0,2.514009e+10,NaN,NaN,NaN,NaN,0.000,...,0.236,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21810,Zimbabwe,2022,ZWE,16320539.0,2.590159e+10,NaN,NaN,NaN,NaN,6.127,...,0.336,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21811,Zimbabwe,2023,ZWE,16665407.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## d_ndll - DataSet 4 | No d铆as Lluvia

In [98]:
d_ndll = pd.read_csv('https://raw.githubusercontent.com/gluoneros/talentoTech/refs/heads/main/noDiasLLuvia.csv')
d_ndll = d_ndll.rename(columns={"MUNICIPIO": "municipio"})
d_ndll['municipio'] = d_ndll['municipio'].str.upper()
d_ndll

,CODIGO,CATEGORIA,ESTACIN,municipio,DEPARTAMENTO,AO,ALTITUD (m),LONGITUD,LATITUD,ENE,...,JUN,JUL,AGO,SEP,OCT,NOV,DIC,ANUAL,N煤mero de meses,% de cumplimiento
0,47067010,LM,El Encanto,EL ENCANTO,Amazonas,7,120,"-73,20","-1,77","14,3",...,"18,8","17,7","13,4","13,3","13,9","14,8","16,4","191,7",332,"92,2%"
1,47060010,PM,El Encato,EL ENCANTO,Amazonas,7,120,"-73,21","-1,75","14,3",...,"18,6","17,8","13,1","13,3","13,8","14,9","16,3","191,1",343,"95,3%"
2,44187030,LM,Bacuri,LA PEDRERA,Amazonas,4,101,"-69,47","-1,23","19,0",...,"20,3","19,6","16,5","14,5","15,1","15,0","18,8","216,0",343,"95,3%"
3,44187020,PM,La Pedrera,LA PEDRERA,Amazonas,4,102,"-69,59","-1,31","13,8",...,"14,7","13,5","12,4","11,2","12,0","12,1","13,3","161,8",334,"92,8%"
4,44157040,LM,Manacaro,LA PEDRERA,Amazonas,4,109,"-70,18","-1,53","18,3",...,"19,1","18,0","14,6","13,2","14,9","14,8","17,1","204,0",351,"97,5%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,38015030,SP,Aeropuerto Puerto Carre帽o,PUERTO CARREO,Vichada,3,57,"-67,49","6,18","1,0",...,"21,2","21,9","19,7","14,3","12,3","7,9","2,9","133,2",359,"99,7%"
1441,38017040,LM,Casuarito,PUERTO CARREO,Vichada,3,65,"-67,64","5,68","2,1",...,"19,3","19,6","16,1","12,7","10,3","7,7","4,3","130,7",343,"95,3%"
1442,35260010,PM,Bonanza,SANTA ROSALA,Vichada,3,112,"-70,85","5,14","1,1",...,"14,4","15,1","13,2","10,0","8,9","5,9","2,7","98,7",324,"90,0%"
1443,35260030,PM,Hato Burrunay,SANTA ROSALA,Vichada,3,106,"-70,68","5,35","1,3",...,"15,3","17,1","14,0","12,1","10,8","7,7","3,6","113,4",349,"96,9%"
1444,35267030,LM,Santa Maria,SANTA ROSALA,Vichada,3,108,"-70,71","5,27","1,2",...,"15,6","16,0","13,2","12,4","10,3","6,8","2,8","106,8",328,"91,1%"

In [99]:
# d_ndll.describe()
d_ndll_min = d_ndll[['municipio', 'ANUAL', 'ALTITUD (m)', 'LATITUD', 'LONGITUD']]
d_ndll_min = d_ndll_min.rename(columns={"ANUAL": "d铆as_lluvia_a帽o"})
d_ndll_min = d_ndll_min.rename(columns={"ALTITUD (m)": "altitud_m"})
d_ndll_min = d_ndll_min.rename(columns={"LATITUD": "latitud"})
d_ndll_min = d_ndll_min.rename(columns={"LONGITUD": "longitud"})


d_ndll_min

           municipio d铆as_lluvia_a帽o  altitud_m latitud longitud
0         EL ENCANTO           191,7        120   -1,77   -73,20
1         EL ENCANTO           191,1        120   -1,75   -73,21
2         LA PEDRERA           216,0        101   -1,23   -69,47
3         LA PEDRERA           161,8        102   -1,31   -69,59
4         LA PEDRERA           204,0        109   -1,53   -70,18
...              ...             ...        ...     ...      ...
1440  PUERTO CARREO           133,2         57    6,18   -67,49
1441  PUERTO CARREO           130,7         65    5,68   -67,64
1442   SANTA ROSALA            98,7        112    5,14   -70,85
1443   SANTA ROSALA           113,4        106    5,35   -70,68
1444   SANTA ROSALA           106,8        108    5,27   -70,71

[1445 rows x 5 columns]

In [100]:
d_ndll_min.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445 entries, 0 to 1444
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   municipio        1445 non-null   object
 1   d铆as_lluvia_a帽o  1445 non-null   object
 2   altitud_m        1445 non-null   int64
 3   latitud          1445 non-null   object
 4   longitud         1445 non-null   object
dtypes: int64(1), object(4)
memory usage: 56.6+ KB

In [101]:
 # elimina espacios en blanco
d_ndll_min['d铆as_lluvia_a帽o'] = d_ndll_min['d铆as_lluvia_a帽o'].str.strip()
d_ndll_min['longitud'] = d_ndll_min['longitud'].str.strip()
d_ndll_min['latitud'] = d_ndll_min['latitud'].str.strip()
#d_ndll_min['ALTITUD (m)'] = d_ndll_min['ALTITUD (m)'].str.strip()

In [102]:
# Cambia comas por puntos en el campo 
d_ndll_min['d铆as_lluvia_a帽o'] = d_ndll_min['d铆as_lluvia_a帽o'].str.replace(',', '.', regex=False)
d_ndll_min['longitud'] = d_ndll_min['longitud'].str.replace(',', '.', regex=False)
d_ndll_min['latitud'] = d_ndll_min['latitud'].str.replace(',', '.', regex=False)
d_ndll_min

           municipio d铆as_lluvia_a帽o  altitud_m latitud longitud
0         EL ENCANTO           191.7        120   -1.77   -73.20
1         EL ENCANTO           191.1        120   -1.75   -73.21
2         LA PEDRERA           216.0        101   -1.23   -69.47
3         LA PEDRERA           161.8        102   -1.31   -69.59
4         LA PEDRERA           204.0        109   -1.53   -70.18
...              ...             ...        ...     ...      ...
1440  PUERTO CARREO           133.2         57    6.18   -67.49
1441  PUERTO CARREO           130.7         65    5.68   -67.64
1442   SANTA ROSALA            98.7        112    5.14   -70.85
1443   SANTA ROSALA           113.4        106    5.35   -70.68
1444   SANTA ROSALA           106.8        108    5.27   -70.71

[1445 rows x 5 columns]

In [103]:
d_ndll_min.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445 entries, 0 to 1444
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   municipio        1445 non-null   object
 1   d铆as_lluvia_a帽o  1445 non-null   object
 2   altitud_m        1445 non-null   int64
 3   latitud          1445 non-null   object
 4   longitud         1445 non-null   object
dtypes: int64(1), object(4)
memory usage: 56.6+ KB

In [104]:
# conversion a numerico
d_ndll_min['d铆as_lluvia_a帽o'] = pd.to_numeric(d_ndll_min['d铆as_lluvia_a帽o'], errors='coerce')
d_ndll_min['latitud'] = pd.to_numeric(d_ndll_min['latitud'], errors='coerce')
d_ndll_min['longitud'] = pd.to_numeric(d_ndll_min['longitud'], errors='coerce')

In [105]:
d_ndll_min.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445 entries, 0 to 1444
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   municipio        1445 non-null   object
 1   d铆as_lluvia_a帽o  1445 non-null   float64
 2   altitud_m        1445 non-null   int64
 3   latitud          1445 non-null   float64
 4   longitud         1445 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 56.6+ KB

In [106]:
# Agrupar por municipio y calcular la media de dias_lluvia y las coordenadas de latitud, longitud y altitud
d_ndll_min = d_ndll_min.groupby('municipio').agg({'d铆as_lluvia_a帽o': 'mean', 'latitud': 'first', 'longitud': 'first', 'altitud_m': 'first'}).reset_index()
d_ndll_min

         municipio  d铆as_lluvia_a帽o  latitud  longitud  altitud_m
0        ABEJORRAL       177.800000     5.79    -75.43       2450
1         ABRIAQU       200.600000     6.64    -76.08       1920
2          ACACAS       195.700000     3.99    -73.77        525
3           ACAND       150.500000     8.53    -77.28          2
4          ACEVEDO       157.650000     1.81    -75.94       1350
..             ...              ...      ...       ...        ...
756  ZONA BANANERA        52.866667    10.68    -74.21         25
757         BREGO       107.433333     8.09    -73.22       1430
758         QUIRA       166.500000     2.66    -75.67       1650
759         MBITA       170.200000     5.22    -73.44       2300
760          TICA        93.700000     5.20    -74.49        497

[761 rows x 5 columns]

## DataSet 5 | Velocidad Viento

In [107]:
d_vnt_ = client.get("sgfv-3yp8", limit=7000)
d_vnt = pd.DataFrame.from_records(d_vnt_)
d_vnt = d_vnt.rename(columns={"municipio": "municipio"})
d_vnt

,codigoestacion,codigosensor,fechaobservacion,valorobservado,nombreestacion,departamento,municipio,zonahidrografica,latitud,longitud,descripcionsensor,unidadmedida
0,2612500124,0103,2020-10-21T15:40:00.000,1.2,PIJAO - AUT,QUINDO,PIJAO,CAUCA,4.331361111,-75.684138889,Velocidad Viento (10 min),m/s
1,0021205710,0103,2020-10-21T20:50:00.000,0.4,JARDIN BOTANICO - AUT,BOGOTA,"BOGOTA, D.C",ALTO MAGDALENA,4.669333333,-74.10266667,Velocidad Viento (10 min),m/s
2,0024035430,0103,2020-10-21T01:10:00.000,0.5,TUNGUAVITA - AUT,BOYAC,PAIPA,SOGAMOSO,5.745916667,-73.11636111,Velocidad Viento (10 min),m/s
3,0023190130,0103,2020-10-21T23:30:00.000,0.5,TONA - AUT,SANTANDER,TONA,MEDIO MAGDALENA,7.196111111,-72.97055556,Velocidad Viento (10 min),m/s
4,0013035501,0103,2020-10-21T01:00:00.000,1.8,APTO LOS GARZONES,CRDOBA,MONTERA,SIN,8.826,-75.825,Velocidad Viento (10 min),m/s
...,...,...,...,...,...,...,...,...,...,...,...,...
6995,0024035410,0103,2020-10-21T01:00:00.000,0.9,SOGAMOSO - AUT,BOYAC,SOGAMOSO,SOGAMOSO,5.753333333,-72.91115278,Velocidad Viento (10 min),m/s
6996,0015065501,0103,2020-10-21T08:00:00.000,1.5,LA MINA CERREJON - AUT,LA GUAJIRA,ALBANIA,CARIBE - GUAJIRA,11.13758333,-72.61594444,Velocidad Viento (10 min),m/s
6997,0013035501,0103,2020-10-21T14:50:00.000,2,APTO LOS GARZONES,CRDOBA,MONTERA,SIN,8.826,-75.825,Velocidad Viento (10 min),m/s
6998,2403500084,0103,2020-10-21T07:20:00.000,2.4,MONGUA - AUT,BOYAC,MONGUA,SOGAMOSO,5.758019444,-72.79485,Velocidad Viento (10 min),m/s
6999,0011030010,0103,2020-10-21T15:10:00.000,1.4,PR CHOCO: CERTEGUI,CHOC,CRTEGUI,ATRATO - DARIN,5.375,-76.613,Velocidad Viento (10 min),m/s

In [108]:
# d_vnt.describe()
d_vnt_min = d_vnt[['municipio', 'valorobservado', 'latitud', 'longitud']]
d_vnt_min = d_vnt_min.rename(columns={"valorobservado": "velocidad_v_m/s"})
#d_vnt_min = d_vnt_min.rename(columns={"municipio": "municipio"})
d_vnt_min

        municipio velocidad_v_m/s      latitud       longitud
0           PIJAO             1.2  4.331361111  -75.684138889
1     BOGOTA, D.C             0.4  4.669333333   -74.10266667
2           PAIPA             0.5  5.745916667   -73.11636111
3            TONA             0.5  7.196111111   -72.97055556
4        MONTERA             1.8        8.826        -75.825
...           ...             ...          ...            ...
6995     SOGAMOSO             0.9  5.753333333   -72.91115278
6996      ALBANIA             1.5  11.13758333   -72.61594444
6997     MONTERA               2        8.826        -75.825
6998       MONGUA             2.4  5.758019444      -72.79485
6999     CRTEGUI             1.4        5.375        -76.613

[7000 rows x 4 columns]

In [109]:
#pasar a float
d_vnt_min['velocidad_v_m/s'] = pd.to_numeric(d_vnt_min ['velocidad_v_m/s'], errors='coerce')
d_vnt_min['latitud'] = pd.to_numeric(d_vnt_min ['latitud'], errors='coerce')
d_vnt_min['longitud'] = pd.to_numeric(d_vnt_min ['longitud'], errors='coerce')

In [110]:
# Agrupar por 'municipio' y calcular la media de 'velocidad_v_m/s' para cada uno
d_vnt_min = d_vnt_min.groupby('municipio')['velocidad_v_m/s'].median().reset_index()

d_vnt_min

     municipio  velocidad_v_m/s
0    AGUACHICA              0.6
1      ALBANIA              1.2
2       ALDANA              2.6
3    ALGECIRAS              0.9
4     ANAPOIMA              1.7
..         ...              ...
155     YACOP              1.8
156      YOPAL              1.0
157  ZETAQUIR              0.5
158  ZIPAQUIR              1.6
159     BREGO              1.9

[160 rows x 2 columns]

## d_cpc - DataSet 6 | Centros poblados de Colombia

In [111]:
# d_cpc = pd.read_csv("https://raw.githubusercontent.com/gluoneros/talentoTech/refs/heads/main/DIVIPOLA_CentrosPoblados.csv", encoding="utf-8", delimiter=";",skiprows=2, header=None).iloc[:, 2:]
d_cpc = pd.read_csv("https://raw.githubusercontent.com/gluoneros/talentoTech/refs/heads/main/DIVIPOLA_CentrosPoblados.csv", encoding="utf-8", delimiter=";").iloc[:, 2:]
d_cpc = d_cpc.rename(columns={"Nombre.1": "municipio"})
d_cpc = d_cpc.rename(columns={"Nombre.2": "poblacion"})
d_cpc = d_cpc.rename(columns={"Longitud": "longitud"})
d_cpc = d_cpc.rename(columns={"Latitud": "latitud"})
d_cpc

,C贸digo.1,municipio,C贸digo.2,poblacion,Tipo,longitud,latitud
0,5001,MEDELLN,5001000,"MEDELLN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",CM,"-75,578661","6,250063"
1,5001,MEDELLN,5001001,PALMITAS,CP,"-75,690039","6,343329"
2,5001,MEDELLN,5001004,SANTA ELENA,CP,"-75,501293","6,210599"
3,5001,MEDELLN,5001009,ALTAVISTA,CP,"-75,644721","6,220472"
4,5001,MEDELLN,5001010,AGUAS FRAS,CP,"-75,635261","6,232665"
...,...,...,...,...,...,...,...
8156,99773,CUMARIBO,99773028,GUACO BAJO,CP,NaN,NaN
8157,99773,CUMARIBO,99773029,GUACO ALTO,CP,NaN,NaN
8158,99773,CUMARIBO,99773030,CAO BOCN,CP,NaN,NaN
8159,99773,CUMARIBO,99773031,CAMUNIANAE,CP,NaN,NaN
8160,99773,CUMARIBO,99773032,GUERIMA,CP,NaN,NaN

In [112]:
# d_cpc.describe()
d_cpc_min = d_cpc[['municipio', 'poblacion', 'longitud', 'latitud']]
d_cpc_min

,municipio,poblacion,longitud,latitud
0,MEDELLN,"MEDELLN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...","-75,578661","6,250063"
1,MEDELLN,PALMITAS,"-75,690039","6,343329"
2,MEDELLN,SANTA ELENA,"-75,501293","6,210599"
3,MEDELLN,ALTAVISTA,"-75,644721","6,220472"
4,MEDELLN,AGUAS FRAS,"-75,635261","6,232665"
...,...,...,...,...
8156,CUMARIBO,GUACO BAJO,NaN,NaN
8157,CUMARIBO,GUACO ALTO,NaN,NaN
8158,CUMARIBO,CAO BOCN,NaN,NaN
8159,CUMARIBO,CAMUNIANAE,NaN,NaN
8160,CUMARIBO,GUERIMA,NaN,NaN

In [113]:
d_cpc_min.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8161 entries, 0 to 8160
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   municipio  8161 non-null   object
 1   poblacion  8161 non-null   object
 2   longitud   7728 non-null   object
 3   latitud    7728 non-null   object
dtypes: object(4)
memory usage: 255.2+ KB

In [114]:
d_cpc_min.dropna(inplace=True)
d_cpc_min

/tmp/ipykernel_4792/2127969904.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_cpc_min.dropna(inplace=True)

,municipio,poblacion,longitud,latitud
0,MEDELLN,"MEDELLN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...","-75,578661","6,250063"
1,MEDELLN,PALMITAS,"-75,690039","6,343329"
2,MEDELLN,SANTA ELENA,"-75,501293","6,210599"
3,MEDELLN,ALTAVISTA,"-75,644721","6,220472"
4,MEDELLN,AGUAS FRAS,"-75,635261","6,232665"
...,...,...,...,...
8151,CUMARIBO,EL TUPARRO,"-69,062984","4,887093"
8152,CUMARIBO,BRISA,"-69,773596","4,343518"
8153,CUMARIBO,GUATURIBA,"-69,854645","4,34513"
8154,CUMARIBO,MATSULDANI,"-69,797888","4,342496"
8155,CUMARIBO,REMANSO,"-69,852692","4,333819"

In [115]:
# Cambia comas por puntos en el campo 
d_cpc_min['longitud'] = d_cpc_min['longitud'].str.replace(',', '.')
d_cpc_min['latitud'] = d_cpc_min['latitud'].str.replace(',', '.')
d_cpc_min

/tmp/ipykernel_4792/1429435268.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_cpc_min['longitud'] = d_cpc_min['longitud'].str.replace(',', '.')
/tmp/ipykernel_4792/1429435268.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_cpc_min['latitud'] = d_cpc_min['latitud'].str.replace(',', '.')

,municipio,poblacion,longitud,latitud
0,MEDELLN,"MEDELLN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",-75.578661,6.250063
1,MEDELLN,PALMITAS,-75.690039,6.343329
2,MEDELLN,SANTA ELENA,-75.501293,6.210599
3,MEDELLN,ALTAVISTA,-75.644721,6.220472
4,MEDELLN,AGUAS FRAS,-75.635261,6.232665
...,...,...,...,...
8151,CUMARIBO,EL TUPARRO,-69.062984,4.887093
8152,CUMARIBO,BRISA,-69.773596,4.343518
8153,CUMARIBO,GUATURIBA,-69.854645,4.34513
8154,CUMARIBO,MATSULDANI,-69.797888,4.342496
8155,CUMARIBO,REMANSO,-69.852692,4.333819

In [116]:
# pasar a numerico
d_cpc_min['latitud'] = pd.to_numeric(d_cpc_min['latitud'], errors='coerce')
d_cpc_min['longitud'] = pd.to_numeric(d_cpc_min['longitud'], errors='coerce')
d_cpc_min

/tmp/ipykernel_4792/4085144221.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_cpc_min['latitud'] = pd.to_numeric(d_cpc_min['latitud'], errors='coerce')
/tmp/ipykernel_4792/4085144221.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_cpc_min['longitud'] = pd.to_numeric(d_cpc_min['longitud'], errors='coerce')

,municipio,poblacion,longitud,latitud
0,MEDELLN,"MEDELLN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",-75.578661,6.250063
1,MEDELLN,PALMITAS,-75.690039,6.343329
2,MEDELLN,SANTA ELENA,-75.501293,6.210599
3,MEDELLN,ALTAVISTA,-75.644721,6.220472
4,MEDELLN,AGUAS FRAS,-75.635261,6.232665
...,...,...,...,...
8151,CUMARIBO,EL TUPARRO,-69.062984,4.887093
8152,CUMARIBO,BRISA,-69.773596,4.343518
8153,CUMARIBO,GUATURIBA,-69.854645,4.345130
8154,CUMARIBO,MATSULDANI,-69.797888,4.342496
8155,CUMARIBO,REMANSO,-69.852692,4.333819

In [117]:
d_cpc_min.isna().sum()

municipio    0
poblacion    0
longitud     0
latitud      0
dtype: int64

In [118]:
df_main = pd.merge(left=d_cpc_min, right=d_vnt_min, left_on='municipio', right_on='municipio', how='left')
df_main

,municipio,poblacion,longitud,latitud,velocidad_v_m/s
0,MEDELLN,"MEDELLN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",-75.578661,6.250063,2.0
1,MEDELLN,PALMITAS,-75.690039,6.343329,2.0
2,MEDELLN,SANTA ELENA,-75.501293,6.210599,2.0
3,MEDELLN,ALTAVISTA,-75.644721,6.220472,2.0
4,MEDELLN,AGUAS FRAS,-75.635261,6.232665,2.0
...,...,...,...,...,...
7723,CUMARIBO,EL TUPARRO,-69.062984,4.887093,NaN
7724,CUMARIBO,BRISA,-69.773596,4.343518,NaN
7725,CUMARIBO,GUATURIBA,-69.854645,4.345130,NaN
7726,CUMARIBO,MATSULDANI,-69.797888,4.342496,NaN
7727,CUMARIBO,REMANSO,-69.852692,4.333819,NaN

In [119]:
df_main.isnull().sum()

municipio             0
poblacion             0
longitud              0
latitud               0
velocidad_v_m/s    6091
dtype: int64

In [120]:
# Calcular la media por municipio
municipio_means = df_main.groupby('municipio')['velocidad_v_m/s'].median()

In [121]:
# Rellenar los valores nulos usando la media por municipio
df_main['velocidad_v_m/s'] = df_main.apply(
    lambda row: municipio_means[row['municipio']] if pd.isnull(row['velocidad_v_m/s']) else row['velocidad_v_m/s'],
    axis=1
)
df_main

,municipio,poblacion,longitud,latitud,velocidad_v_m/s
0,MEDELLN,"MEDELLN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",-75.578661,6.250063,2.0
1,MEDELLN,PALMITAS,-75.690039,6.343329,2.0
2,MEDELLN,SANTA ELENA,-75.501293,6.210599,2.0
3,MEDELLN,ALTAVISTA,-75.644721,6.220472,2.0
4,MEDELLN,AGUAS FRAS,-75.635261,6.232665,2.0
...,...,...,...,...,...
7723,CUMARIBO,EL TUPARRO,-69.062984,4.887093,NaN
7724,CUMARIBO,BRISA,-69.773596,4.343518,NaN
7725,CUMARIBO,GUATURIBA,-69.854645,4.345130,NaN
7726,CUMARIBO,MATSULDANI,-69.797888,4.342496,NaN
7727,CUMARIBO,REMANSO,-69.852692,4.333819,NaN

In [81]:
df_main.isnull().sum()

municipio             0
poblacion             0
longitud              0
latitud               0
velocidad_v_m/s    4918
dtype: int64

In [84]:
df_main.fillna(df_main['velocidad_v_m/s'].median(), inplace=True)

In [85]:
df_main.isnull().sum()

municipio          0
poblacion          0
longitud           0
latitud            0
velocidad_v_m/s    0
dtype: int64

In [86]:
df_viabilidad = pd.merge(left=df_main, right=d_ndll_min, left_on='municipio', right_on='municipio', how='left')
df_viabilidad

,municipio,poblacion,longitud_x,latitud_x,velocidad_v_m/s,d铆as_lluvia_a帽o,latitud_y,longitud_y,altitud_m
0,MEDELLN,"MEDELLN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",-75.578661,6.250063,1.9,180.460000,6.26,-75.68,2450.0
1,MEDELLN,PALMITAS,-75.690039,6.343329,1.9,180.460000,6.26,-75.68,2450.0
2,MEDELLN,SANTA ELENA,-75.501293,6.210599,1.9,180.460000,6.26,-75.68,2450.0
3,MEDELLN,ALTAVISTA,-75.644721,6.220472,1.9,180.460000,6.26,-75.68,2450.0
4,MEDELLN,AGUAS FRAS,-75.635261,6.232665,1.9,180.460000,6.26,-75.68,2450.0
...,...,...,...,...,...,...,...,...,...
7723,CUMARIBO,EL TUPARRO,-69.062984,4.887093,1.3,155.516667,3.99,-68.32,94.0
7724,CUMARIBO,BRISA,-69.773596,4.343518,1.3,155.516667,3.99,-68.32,94.0
7725,CUMARIBO,GUATURIBA,-69.854645,4.345130,1.3,155.516667,3.99,-68.32,94.0
7726,CUMARIBO,MATSULDANI,-69.797888,4.342496,1.3,155.516667,3.99,-68.32,94.0
7727,CUMARIBO,REMANSO,-69.852692,4.333819,1.3,155.516667,3.99,-68.32,94.0

In [87]:
df_viabilidad.isnull().sum()

municipio             0
poblacion             0
longitud_x            0
latitud_x             0
velocidad_v_m/s       0
d铆as_lluvia_a帽o    3016
latitud_y          3016
longitud_y         3016
altitud_m          3016
dtype: int64

In [92]:
df_viabilidad = df_viabilidad.drop(columns=['longitud_y'])
df_viabilidad

,municipio,poblacion,longitud_x,latitud_x,velocidad_v_m/s,d铆as_lluvia_a帽o,altitud_m
0,MEDELLN,"MEDELLN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",-75.578661,6.250063,1.9,180.460000,2450.0
1,MEDELLN,PALMITAS,-75.690039,6.343329,1.9,180.460000,2450.0
2,MEDELLN,SANTA ELENA,-75.501293,6.210599,1.9,180.460000,2450.0
3,MEDELLN,ALTAVISTA,-75.644721,6.220472,1.9,180.460000,2450.0
4,MEDELLN,AGUAS FRAS,-75.635261,6.232665,1.9,180.460000,2450.0
...,...,...,...,...,...,...,...
7723,CUMARIBO,EL TUPARRO,-69.062984,4.887093,1.3,155.516667,94.0
7724,CUMARIBO,BRISA,-69.773596,4.343518,1.3,155.516667,94.0
7725,CUMARIBO,GUATURIBA,-69.854645,4.345130,1.3,155.516667,94.0
7726,CUMARIBO,MATSULDANI,-69.797888,4.342496,1.3,155.516667,94.0
7727,CUMARIBO,REMANSO,-69.852692,4.333819,1.3,155.516667,94.0

In [93]:
df_viabilidad.isnull().sum()

municipio             0
poblacion             0
longitud_x            0
latitud_x             0
velocidad_v_m/s       0
d铆as_lluvia_a帽o    3016
altitud_m          3016
dtype: int64

In [94]:
#
df_viabilidad.fillna(df_viabilidad['d铆as_lluvia_a帽o'].median(), inplace=True)

In [96]:
#imputar valores nulos con la mediana de la columna altitud_m
df_viabilidad.fillna(df_viabilidad['altitud_m'].median(), inplace=True)
df_viabilidad

,municipio,poblacion,longitud_x,latitud_x,velocidad_v_m/s,d铆as_lluvia_a帽o,altitud_m
0,MEDELLN,"MEDELLN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",-75.578661,6.250063,1.9,180.460000,2450.0
1,MEDELLN,PALMITAS,-75.690039,6.343329,1.9,180.460000,2450.0
2,MEDELLN,SANTA ELENA,-75.501293,6.210599,1.9,180.460000,2450.0
3,MEDELLN,ALTAVISTA,-75.644721,6.220472,1.9,180.460000,2450.0
4,MEDELLN,AGUAS FRAS,-75.635261,6.232665,1.9,180.460000,2450.0
...,...,...,...,...,...,...,...
7723,CUMARIBO,EL TUPARRO,-69.062984,4.887093,1.3,155.516667,94.0
7724,CUMARIBO,BRISA,-69.773596,4.343518,1.3,155.516667,94.0
7725,CUMARIBO,GUATURIBA,-69.854645,4.345130,1.3,155.516667,94.0
7726,CUMARIBO,MATSULDANI,-69.797888,4.342496,1.3,155.516667,94.0
7727,CUMARIBO,REMANSO,-69.852692,4.333819,1.3,155.516667,94.0

In [97]:
df_viabilidad.isnull().sum()

municipio          0
poblacion          0
longitud_x         0
latitud_x          0
velocidad_v_m/s    0
d铆as_lluvia_a帽o    0
altitud_m          0
dtype: int64

In [39]:
# df_main = pd.merge(left=df5, right=df4, left_on='municipio', right_on='municipio', how='left')
# df_main = pd.DataFrame(
#     {
#       'Municipio': d_cpc['Nombre.1'].str.lower(),
#       'Poblaci贸n': d_cpc['Nombre.2'].str.lower(),
#       'Altitud': d_ndll['ALTITUD (m)'],
#       'Latitud': d_cpc['Longitud'],
#       'Longitud': d_cpc['Latitud'],
#       # 'A帽o': d_zni['anio'],
#       # 'potencia_m': datos1['potencia_maxima'],
#       # 'prom_diaria': datos1['prom_diario_horas'],
#       # 'energia_activa': datos1['energia_activa'],
#       # 'energia_reactiva': datos1['energia_reactiva']
#     }
# )
# df_main

,Municipio,Poblaci贸n,Altitud,Latitud,Longitud
0,medell铆n,"medell铆n, distrito especial de ciencia, tecnol...",120.0,"-75,578661","6,250063"
1,medell铆n,palmitas,120.0,"-75,690039","6,343329"
2,medell铆n,santa elena,101.0,"-75,501293","6,210599"
3,medell铆n,altavista,102.0,"-75,644721","6,220472"
4,medell铆n,aguas fr铆as,109.0,"-75,635261","6,232665"
...,...,...,...,...,...
8156,cumaribo,guaco bajo,NaN,NaN,NaN
8157,cumaribo,guaco alto,NaN,NaN,NaN
8158,cumaribo,ca帽o boc贸n,NaN,NaN,NaN
8159,cumaribo,camunianae,NaN,NaN,NaN
8160,cumaribo,guerima,NaN,NaN,NaN

In [40]:
# df_main.value_counts()

Municipio  Poblaci贸n                         Altitud  Latitud     Longitud
abejorral  abejorral                         550.0    -75,428739  5,789315     1
regidor    regidor                           855.0    -73,821638  8,666258     1
retiro     alto de carrizales                150.0    -75,519304  6,140151     1
repel贸n    villa rosa                        1045.0   -75,12992   10,411282    1
           rotinet                           1300.0   -75,072382  10,530974    1
                                                                              ..
envigado   parcelaci贸n aldea de palma verde  2963.0   -75,535767  6,148427     1
           parcelaci贸n alamos del escobero   1580.0   -75,569204  6,151617     1
           las palmas                        2486.0   -75,530513  6,152569     1
           la 煤ltima copa                    1700.0   -75,573735  6,141872     1
zaragoza   zaragoza                          638.0    -74,867075  7,488583     1
Name: count, Length: 1438, dtype: int64